<div class="footer">
    <div class="card-group m-4">
        <div class="card">
            <div class="card-body">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h3>AROUND THE WEB</h3>
                <ul class="list-unstyled mt-2 d-flex align-items-center justify-content-center gap-4">
                    <li><i class="fas  social-icons fa-brands fa-facebook"></i></li>
                    <li><i class="fas social-icons fa-brands fa-x-twitter"></i></li>
                    <li><i class="fas social-icons fa-brands fa-linkedin-in"></i></li>
                    <li><i class="fas social-icons fa-globe"></i></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3>ABOUT FREELANCER
                </h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-sc text-center text-white">
    Copyright © Your Website 2024
</div>