<div class="about text-white d-flex justify-content-center align-items-center">
    <div>
        <h2 class="mb-3 fs-1 fw-bolder text-uppercase text-center" >About Component</h2>
        <div class="d-flex align-items-center justify-content-center">
            <div class="line me-3"></div>
            <i class="fas fa-star me-3"></i>
            <div class="line"></div>
        </div>
        <div class="container mt-3">
            <div class="row px-5">
                <div class="col-md-6">
                    <div>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>