<nav class="navbar navbar-expand-lg navbar-dark nav-background fixed-top">
    <div class="container py-3">
        <a class="navbar-brand" routerLink="">START FRAMEWORK</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item pe-2">
                    <a class="nav-link" routerLinkActive="active rounded-3" routerLink="about">About</a>
                </li>
                <li class="nav-item pe-2">
                    <a class="nav-link" routerLinkActive="active rounded-3" routerLink="portfolio">Portfolio</a>
                </li>
                <li class="nav-item pe-2">
                    <a class="nav-link" routerLinkActive="active rounded-3" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
